AIRFLOW_UID=50000

ECOMMERCE_DB_HOST: postgres
ECOMMERCE_DB_PORT: 5432
ECOMMERCE_DB_NAME: ecommerce
ECOMMERCE_DB_USER: xxxxxxxx
ECOMMERCE_DB_PASSWORD: xxxxxxxx

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=xxxxxxxxx
MINIO_SECRET_KEY=xxxxxxxxx
MINIO_BUCKET=raw